<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="2.10.0" />
  <package id="Moq" version="4.0.10827" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="Should" version="1.1.12.0" />
  <package id="vici.coolstorage" version="1.5.0" />
  <package id="vici.core" version="1.0.0" />
</packages>